[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
flask = "==3.0.3"
pycountry = "==24.6.1"
pydantic = "==2.9.2"
requests = "==2.32.3"

[dev-packages]

[requires]
python_version = "3.12"
